# Ignorar node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração específicos de IDEs (ex: VS Code)
.vscode/

# Ignorar variáveis de ambiente
.env

# Ignorar arquivos de build ou distribuição
/dist/
